:root {
  --font-unna: "Unna", serif;
}
* {
  box-sizing: border-box;
  font-family: "Unna", serif;
}
body {
  max-width: 1024px;
  margin: 0 auto;
  overflow-wrap: break-word;
}
.home {
  min-height: 100vh;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}
/*nav bar */
.custom-nav {
  font-weight: bold;
}
.custom-ul {
  line-height: 0.2em;
  position: relative;
}
.custom-ul li a:hover::before {
  content: "➤ ";
  left: -25%;
  position: absolute;
}

.hero-title {
  font-family: var(--font-unna);
  font-size: 7rem;
  line-height: 1em;
  font-weight: lighter;
}
.super-img {
  display: inline-flex;
  background: #aeafb1;
  border-radius: 50px 60px 60px 0px;
  border: none;
}
.asp-img {
  height: 1em;
}

/*about section*/
.self-descp {
  text-transform: uppercase;
  line-height: 1.8em;
  letter-spacing: 0.1rem;
  word-spacing: 0.5em;
}
.bold-text {
  font-weight: bold;
}
.aboutme-img {
  /* transform: rotate(10deg); */
  width: 250px;
  height: 200px;
  border-radius: 50%;
  background: #aeafb1;
}
/* project section*/
.project {
  min-height: 100vh;
}
.project-title {
  font-family: var(--font-unna);
  font-size: 7rem;
  line-height: 1em;
  font-weight: lighter;
}

.project-subtitle {
  font-family: var(--font-unna);
  font-weight: lighter;
  font-size: 5rem;
  align-items: baseline;
}
.page-no {
  border: 1px solid rgb(232, 232, 232);
  border-radius: 50%;
  padding: 35px;
}
/* project containers */

.project-container-dark {
  /* border: 1px solid red; */
  /* height: 300px; */
  background-color: #1e2025;
  opacity: 0.8;
}

.project-container-dark:hover {
  opacity: 1;
  transform: scale(1.02, 1.02);
  transition: all 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.project-container-light {
  background-color: #f9ebea;
  opacity: 0.8;
}
.project-container-light:hover {
  opacity: 1;
  transform: scale(1.02, 1.02);
  transition: all 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.project-container-med {
  background-color: #dde2ee;
  opacity: 0.8;
}
.project-container-med:hover {
  opacity: 1;
  transform: scale(1.02, 1.02);
  transition: all 0.5s linear;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.project-image {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  /* position: absolute;
  top: 15px; */
}

.project-name {
  margin-top: 1em;
}

.project-type {
  margin-bottom: 1em;
}
.end-project {
  display: flex;
}
/* .button-container {
  order: 2;
} */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 75px;
  /* border: 1px solid red; */
}

.button-more {
  height: 150px;
  width: 150px;
  font-size: 1.6em;
  font-weight: bold;

  border-radius: 50%;
  border: 1px solid rgb(232, 232, 232);
  background: none;
}

/* CONTACT SECTION */

.contact {
  min-height: 100vh;
}
.contact-para {
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.contact-img {
  /* transform: rotate(18deg); */
  width: 250px;
  height: 200px;
  border-radius: 50%;
}
/* form section */
.custom-form {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0%;
  margin-bottom: 10px;
}
.custom-textarea {
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0%;
  margin-bottom: 10px;
  background-color: transparent;
  resize: none;
  outline: none;
}
.custom-btn-container {
  display: flex;
}

.custom-btn {
  display: inline-block;
  outline: 0;
  text-align: center;
  cursor: pointer;
  padding: 17px 30px;
  border: 0;
  color: #fff;
  font-size: 17.5px;
  border: 2px solid transparent;
  border-color: #000;
  color: #000;
  background: transparent;
  font-weight: 800;
  line-height: 30px;
  transition: background, color 0.1s ease-in-out;
  margin: 0 auto;
}
.custom-btn:hover {
  background-color: #000;
  color: #fff;
}

/*gfooter*/
footer {
  margin-top: 3em;
  border-top: solid 5px #fafaf8;
  padding-top: 1em;
}
.home-image {
  display: flex;
  justify-content: flex-end;
  font-size: 1.5em;
  opacity: 0.5;
}

.home-image:hover {
  opacity: 1;
}
.footer-nav {
  padding-right: 10px;
  text-decoration: none;
  color: black;
  font-weight: bolder;
}
.footer-nav:hover {
  color: black;
  font-weight: bolder;
}

@media screen and (max-width: 990px) {
  body {
    margin: 0;
  }
  .hero-title {
    font-family: var(--font-unna);
    font-size: 5rem;
    line-height: 1em;
    font-weight: lighter;
  }
  .project-title {
    font-family: var(--font-unna);
    font-size: 5rem;
    line-height: 1em;
    font-weight: lighter;
  }
  .end-project {
    flex-direction: column;
  }
  .button-container {
    order: 2;
  }
  .contact-img {
    transform: rotate(0deg);
    width: 250px;
    height: 200px;
    border-radius: 50%;
  }
  .contact-img-container {
    margin: auto;
    width: fit-content;
  }
}
